<table class="table table-striped" table ng-controller="MoviesListController">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Company</th>
            <th>Price</th>
            <th>
                <input type="search" ng-model="query.title" placeholder="Search..." class="form-control">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in model | filter:query">
            <td>
                {{::item.owner}}
            </td>
            <td>
                {{::item.company}}
            </td>
            <td>
                {{::item.price}}
            </td>
            <td>
                <a href="#{{::getDetailUrl({ stuff: item })}}" ng-click="getDetail(item.id)"class="btn btn-default">Detail</a>
                <a href="#{{::getDetailUrl({ stuff: item })}}" ng-click="saveRenter({ stuff: item })" class="btn btn-default" ng-disabled="item.paid == true">Pay</a>
            </td>
        </tr>
    </tbody>
</table>