<div class="container" ng-controller="MovieDetailController">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <h1>{{::model.company}}</h1>
            <div class="row">
                <div class="col-xs-6">
                    <span>
                        Paid by {{::model.owner}} in {{::model.payment_date | date:"dd/MM/yyyy"}}
                    </span>
                </div>
                <div class="col-xs-6">
                    <div class="text-right">
                        Upload by {{::model.owner}} in  {{::model.date | date:"dd/MM/yyyy"}}
                    </div>
                    <img width="80%" height="90%" src="{{::model.detail}}" class="center"></img>
                </div>
            </div>
        </div>
    </div>
</div>
