<div class="container" ng-controller="MovieDetailController">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <div class="col-xs-6">
                    <span style="color:white;">
                        <h2> Paid in {{::model.payment_date | date:"dd/MM/yyyy"}}</h2>
                    </span>
                </div>
                <div class="col-xs-6">
                    <div class="text-right" style="color:white;">
                        <h2>Upload in {{::model.date | date:"dd/MM/yyyy"}}</h2>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead style="color:white">
                        <tr>
                            <th>
                                <h4>Company</h4></th>
                            <th>
                                <h4>Owner</h4></th>
                            <th>
                                <h4>Price</h4></th>
                            <th>
                                <h4>Detail</h4></th>
                        </tr>
                    </thead>
                    <tbody style="color:black">
                        <tr>
                            <td><strong>{{::model.company}}</strong></td>
                            <td><strong>{{::model.owner}}</strong></td>
                            <td><strong>{{::model.price}}</strong></td>
                            <td><div class="imgBar" style="display:inline"><img width="30%" height="30%" ng-src="{{::model.detail}}" class="center"></div></td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-default" href="#/bills">Go back<a>
            </div>
        </div>
    </div>
</div>

